#allOrdersBtn{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
#allOrdersBtn div{
    display: flex;
    width:70%;
}
#allOrdersBtn select{
    width:70%;
    height:100%;
    margin:0 !important;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
#allOrdersBtn div button{
    width:30%;
    margin:0;
    border: 0px;
    background-color: teal;
    color:white;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
#allOrdersBtn>button{
    background-color: rgba(255, 255, 255, 0);
    border:0px;
}
@media screen and (max-width:630px) {
    #allOrdersBtn div{
        height: 20px;
    }
    #allOrdersBtn select{
        font-size: 2vw;
        padding:0;
    }
    #allOrdersBtn>button svg{
        width: 5vw;
    }
    .AdminOrderHeading{
        padding:2px !important;
    }
    .AdminOrderHeading>div{
        font-size: 1.8vw !important;
    }
}