.adminMain{
    width:85%;
    padding:20px;
    padding-bottom: 0;
}
.css-yrdy0g-MuiDataGrid-columnHeaderRow{
    background-color: rgba(201, 201, 201, 0.505);
    font-size: 1.2vw;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 500;
}
.MuiTablePagination-displayedRows{
    color:teal;
    font-weight: 500;
}

#productEditBtn{
    color:black;
}
#productDeleteBtn{
    color:black;
    border:0px;
    background-color: rgba(230, 230, 250, 0.012);
}
#productDeleteBtn:disabled{
    color:rgba(128, 128, 128, 0.458);
    cursor:not-allowed;
    border:0px;
    background-color: rgba(230, 230, 250, 0.012);
}