#cartItem{
    display: flex;
    align-items: center;
    width:100%;
    background-color: white;
    margin:10px 0px;
    padding:5px 20px;
}
#cartImg{
    width:20%;
}
#cartImg img{
    width:100%;
}
#cartInfo{
    width:80%;
    color:black;
    padding:10px;
    display: flex;
    flex-direction: column;
    text-align: center;
}
#cartPrice{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top:20px;
}
#cartQuantity{
    padding:10px;
    width:20%;
}
#cartNewPrice{
    display: flex;
    align-items: center;
    justify-content: center;
    width:60%;
}
#cartButton{
    width:20%;
    display: flex;
    justify-content: right;
}
#cartPrice p{
    margin:5px;
}
@media screen and (max-width:630px) {
    #cartInfo h3{
        font-size: 3vw;
        margin:0;
    }
    #cartInfo{
        padding:0px;
    }
    #cartInfo>p{
        font-size: 2vw;
        margin:2px;
    }
    #cartPrice{
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        margin-top:5px;
    }
    #cartQuantity{
        padding:0px;
        width:80%;
    }
    #cartQuantity .updateStock{
        padding: 2px 5px;
    }
    #cartQuantity input{
        padding: 1.8px 5px;
    }
    #cartNewPrice{
        width:80%;
        font-size: 3vw;
    }
    #cartButton{
        width:80%;
        font-size: 2vw;
        display: flex;
        justify-content: center;
    }
}

