#confirmOrderPage{
    width:100%;
    min-height: 100vh;
    background-color: lavender;
}
#confirmOrderMid{
    display: flex;
}
#confirmOrderLeft{
    width:70%;
    padding:20px;
    min-height: 90vh;
    background-color: lavender;
    font-size: 1.2vw;
}
#confirmOrderLeft div{
    margin-bottom:50px;
}
#confirmOrderLeftShippingInfo{
    background-color: rgba(200, 216, 255, 0.727);
    font-family:monospace;
    padding:1vw 2vw;
    border-radius: 100px;
    border:1px solid teal;
    color:green;
}
#confirmOrderLeftShippingInfo .headingFont{
    color:black;
    font-family:'Times New Roman', Times, serif;
    font-weight: bolder;
    font-stretch:extra-expanded;
}
#confirmOrderCartInfo{
    border-top: 1px solid rgb(174, 174, 255);
}
#confirmOrderRight{
    width:30%;
    min-height: 90vh;
    background-color: rgb(241, 241, 255);
    padding:20px;
}
#confirmOrderRight table{
    width:80%;
    margin:10%;
}
#confirmOrderRight a{
    text-decoration: none;
    display: block;
    width:fit-content;
    padding:10px 20px;
    margin:5px auto;
    color:lavender;
    background-color: teal;
    border-radius: 10px;
}
.headingFont{
    font-size: 2vw;
    text-align: center;
    font-weight: 500;
}

#totalRow{
    border-top: 1px solid black;
}
@media screen and (max-width:630px) {
    #confirmOrderLeft{
        width:60%;
        padding:5px;
        min-height: 90vh;
        font-size: 2.2vw;
    }
    #confirmOrderLeft div{
        margin-bottom:10px;
    }
    #confirmOrderLeft p{
        margin:5px;
    }
    #confirmOrderRight{
        width:40%;
        padding:5px;
    }
    #confirmOrderRight table{
        width:90%;
        margin:5%;
    }
    #confirmOrderRight table td{
        font-size: 2vw;
    }
    #confirmOrderRight a{
        padding:5px 10px;
        font-size: 2vw;
        margin:2px auto;
        border-radius: 5px;
    }
    .headingFont{
        font-size: 4vw;
    }
}