#contactPage{
    width:100%;
    min-height: 89vh;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    background-color: lavender;
    padding:0px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.contactHeading{
    font-size: 3vw;
    color:teal;
    margin:30px 0px 10px 0px;
}
#contactLeft{
    width:72%;
    padding:20px 50px 20px 40px;
    text-align: justify;
    font-size: 1.5vw;
}
#contactRight{
    display: flex;
    flex-direction: column;
    align-items: center;
    width:28%;
    padding-top: 20px;
}
#contactPage img{
    width:50%;
    margin: 20px auto;
    display: block;
    border-radius: 20px;
}
#contactRight h6{
    font-family:monospace;
    text-align: center;
    color: red;
}
#contactRight form{
    background-color:rgba(0, 97, 97, 0.844);
    border-radius: 20px;
    color: white;
    display:flex;
    flex-direction: column;
    align-items: center;
    width:95%;
    padding:20px 2px;
    margin-top:30px;
}
#contactRight div{
    width:100%;
    padding:10px 5px;

}
#contactRight form p{
    font-size: 1.5vw;
    font-stretch: expanded;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#contactRight form label{
    width:15%;
}
#contactRight form input{
    width:85%;
    border-radius: 10px;
    border: 0px;
    padding:0.5vw;
}
#contactRight form textarea{
    border-radius: 10px;
    border: 0px;
    height:8vw;
}
#contactRight #feedbackBtn{
    background-color: rgb(101, 0, 190);
    border:1px solid white;
    color: white;
}
#contactRight #feedbackBtn:hover{
    background-color: rgb(48, 0, 91);
}
@media screen and (max-width:630px) {
    #contactPage{
        flex-direction: column-reverse;
        justify-content: flex-end;
        align-items: center;
        min-height: 100vh;
    }
    .contactHeading{
        font-size: 6vw;
        margin:30px 0px 10px 0px;
    }
    #contactLeft{
        width:90%;
        padding:0px 10px;
        font-size: 3vw;
    }
    #contactRight{
        width:90%;
        padding-top: 10px;
    }
    #contactRight form{
        width:95%;
        margin-top:20px;
    }
    #contactRight form p{
        font-size: 6vw;
    }
    #contactRight form label{
        width:20%;
        padding:2%;
    }
    #contactRight form input{
        width:80%;
        padding:1vw;
    }
    #contactRight form textarea{
        height:20vw;
    }
    #contactPage h6{
        font-size: 4vw;
        padding:0px;
    }
    #contactPage img{
        width:40vw;
        height:50vw;
        background-size:cover;
        border-radius: 100%;
    }  
}