#Loading{
    position:fixed;
    width:100%;
    min-height:100vh;
    background-color: rgba(211, 211, 255, 0.895);
    z-index:100000;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease-in-out;
}
#fact{
    color:rgb(0, 83, 83);
    font-size: 1.5vw;
    margin:1.5vw;
    font-family: sans-serif;
}
#animatedCart{
    width:50%;
    overflow: hidden;
    margin-bottom:1vw;
}
#animatedCart img{
    width:10%;
    position:relative;
    animation: cart 5s ease-in-out 0s infinite forwards;
}
@keyframes cart {
    0%{
        left:0%;
        transform: scaleX(1);
        opacity:0;
    }
    25%{
        opacity:1;
    }
    49.9%{
        left:95%;
        transform: scaleX(1);
        opacity:0;
    }
    50%{
        left:100%;
        transform: scaleX(-1);
        opacity:0;
    }
    75%{
        opacity: 1;
    }
    100%{
        left:0%;
        transform: scaleX(-1);
        opacity:0;
    }

}
#ring{
    width:100px;
    height:100px;
    margin:2.5vw;
    border-radius: 50%;
    animation: ring 1s linear 0s infinite forwards normal;
    transition: all 0.5s;
  }

  @keyframes ring {
    0%{
        transform: rotate(0deg);
        box-shadow: 1px 3px 2px teal;
    }
    25%{
        transform: rotate(90deg);
        box-shadow: 1px 3px 2px rgb(0, 86, 86);
    }
    50%{
        transform: rotate(180deg);
        box-shadow: 1px 3px 2px rgb(0, 85, 85);
    }
    75%{
        transform: rotate(270deg);
        box-shadow: 1px 3px 2px rgb(0, 164, 164);
    }
    100%{
        transform: rotate(360deg);
        box-shadow: 1px 3px 2px teal;
    }
  }

  @media screen and (max-width:630px) {
    #fact{
        font-size: 5vw !important;
        margin:1.5vw;
        padding:1.5vw;
        text-align: center;
    }
    #animatedCart{
        width:80%;
    }
    #animatedCart img{
        width:30%;
    }
  }