@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap');
navbar{
    display:flex;
    position:absolute;
    justify-content: space-between;
    max-height:80px;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    font-size: 1.5vw;
    background-color: rgba(0, 0, 0, 0.119);
    height:80px;
    z-index: 10;
}

#leftnavcomp{
    width:10%;
    display: flex;
    align-items: center;
    overflow: hidden;
}

#leftnavcomp img{
    width:110%;
    margin:10px;
    object-position: -15px;
}

#midnavcomp{
    display:flex;
    align-items: center;
}

#midnavcomp a{
    padding:10px 3vw;
    text-decoration: none;
    color:rgb(255, 255, 255);
}

#rightnavcomp{
    display:flex;
    align-items: center;
}

#rightnavcomp a,#rightnavcomp button{
    font-size: 1.2vw;
    margin:10px;
    padding:0.5vw 0.5vw;
    text-decoration: none;
    color:rgb(255, 255, 255);
    border-radius: 10px;
}
navbar a{
    transition: all 0.2s ease-in 0s;
}
navbar a:hover{
    transform: scale(1.1);
}

#login{
    background-color: green;
}

#register{
    background-color: rgb(0, 0, 136);
}
#logout{
    background-color: green;
    cursor: pointer;
}