#reviewCard{
    display: flex;
    margin:20px;
    border-radius: 10px;
}
#reviewCardLeft{
    width:10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color:rgba(190, 190, 252, 0.777);
    padding:20px;
}
#reviewCardLeft p{
    color: gray;
    font-weight: bold;
    text-align: center;
}
#reviewCardRight{
    padding: 20px;
    width:85%;
    background-color: rgba(206, 206, 255, 0.777);
}
#reviewCardDel{
    width:5%;
    background-color: rgba(206, 206, 255, 0.777);
    text-align:right ;
    padding:10px;
    cursor: pointer;
}

@media screen and (max-width:630px) {
    #reviewCard{
        margin:10px 5px;
    }
    #reviewCardLeft{
        width:25%;
        padding:10px;
    }
    #reviewCardLeft p{
        font-size: 2.5vw;
    }
    #reviewCardLeft img{
        width:50%;
    }
    #reviewCardRight{
        padding: 10px;
        width:75%;
    }
    #reviewCardRight p{
        font-size: 3vw;
    }
    
}