@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');
.sidebar{
    /* position:fixed; */
    /* top:0px; */
    /* margin:0px 2px; */
    min-height:100vh;
    width:15%;
    z-index: 90;
    background-color: rgb(244, 244, 253);
    padding:30px 10px;
}
.side{
    padding:20px 0px;
    margin:10px;
}
.sidebar h2{
    text-align: center;
    text-decoration: underline;
}
.sideComp{
    font-size:1.5vw;
    color:purple;
}

#categorySidebar ul{
    padding:0px;
}

#categorySidebar li{
    list-style:none;
    font-size:1.1vw;
    padding:8px;
    margin:2px;
    /* border:1px solid red; */
    background-color: lavender;
    font-family: 'Montserrat', sans-serif;
    font-weight: 1000;
}

#categorySidebar li:hover{
    transform: scale(1.2);
    color:black;
    cursor: pointer;
}

@media screen and (max-width:630px) {
    .sidebar{
        width:25%;
        padding:10px 2px;
    }
    .sidebar h2{
       font-size: 3.5vw;
    }
    .sideComp{
        font-size:3.5vw;
    }
    .side{
        padding:10px 0px;
        margin:5px;
    }
    #categorySidebar li{
        font-size:2vw;
        padding:2px;
        margin:2px;
    }
    #categorySidebar li svg{
        width:2vw;
    }
    #categorySidebar li:hover{
        transform: scale(1);
        color:black;
        cursor: pointer;
    }
    .css-jx1sa5-MuiSlider-thumb{
        width:8px !important;
        height:8px !important;
    }
}